body{
    background-color: rgb(126, 126, 126);
}

.fa{
    color: rgb(48, 77, 240);
  
}

.box-part{
    background-color: white;
    margin: 10px 0px;
    padding: 60px 10px;
}

.jam{
    margin: 20px 0px;
    }

.box{
   
    padding: 50px 120px;
}

.jam1{
    margin: 20px 0px;
    }
    












